<!DOCTYPE html>
<html>
  <head>
    <title>Yummy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Yummy</p>
    <form action="/yummy" method="post">
    	<div>
    	<label>Username:</label>
    	<input type="text" name="username"/><br/>
    	</div>
    	<div>
    	<label>Password:</label>
    	<input type="password" name="password"/><br/>
    	</div>
    	<div>
    	<input type="checkbox" name="remember"/>Remember Me
    	</div>
    	<div>
    	<input type="submit" value="Submit"/>
    	</div>
    </form>

  </body>
</html>