<!DOCTYPE html>
<html>
  <head>
    <title>Yummy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Bye Yummy</p>
    <form action="/yummy/logout" method="post">
    	<div>
    	    <input type="submit" value="logout"/>
    	</div>
    </form>

  </body>
</html>